.projectBlock {
    min-height: 100vh;
    background-color: cornflowerblue;
}

.projectContainer {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

